@using Dominio
@model Empleado


@if(Model == null)
{
    <h1>
        <img height="30" src="/img/warning.webp" />
        Si ves esto, se rompio todo
        <a href="/Home/Index">Volver al inicio</a>
        <img height="30" src="/img/warning.webp" />
    </h1>
}
else
{
    <h1>Bienvenido @Model.GetTipo() @Model.Nombre</h1>
    <h3>Direccion de correo: @Model.Email</h3>
    @if(Model is Peon p)
    {
        <h3>Residente de estancia: @(p.EsResidente ? "Si" : "No")</h3>
        @if(p.GetTareasPendientes().Count > 0)
        {
            <table class="table">
                <thead>
                    <tr>
                        <td>Tarea</td>
                        <td>Fecha maxima finalizacion</td>
                        <td>Tarea cerrada</td>
                        <td>Fecha de cierre</td>
                        <td>Comentario</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tarea t in p.GetTareas())
                    {
                        <tr>
                            <td>@t.Descripcion</td>
                            <td>@t.FechaRealizacion.ToString("dd/MM/yy hh:mm")</td>
                            <td>@(t.FueCompletada ? "Si" : "No")</td>
                            <td>@(t.FueCompletada ? t.FechaDeCierre.ToString("d") : "N/A")</td>
                            <td>@(t.FueCompletada ? t.Comentario : "N/A")</td>
                            <td><a href="/Empleado/CerrarTarea/@t.Id">Cerrar tarea</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <h3>No tiene tareas pendientes</h3>
        }


}
    else if(Model is Capataz c)
    {
@* <h3>Años en la estancia: @c.VueltasAlSolDesdeQueTrabajaEnLaEstancia()</h3> *@
        <h4>Lista de opciones:</h4>
        <a href="/Animal/AltaBovino">Dar de alta un animal bovino</a>
        <br>
        <a href="/Potrero/Index">Ver listado de potreros</a>
        <br>
        <a href="/Animal/LibresListado">Ver listado de animales libres</a>
        <br>
        <a href="/Empleado/PeonesListado">Ver listado de empleados</a>
        <br>
        <a href="/Empleado/PeonesListado">Ver listado de empleados</a>
        <br>
    }
}
