@using Dominio
@model IEnumerable<Potrero>

<h1>
    <img height="30" src="/img/cow.webp" />
    Asignacion de potrero
    <img height="30" src="/img/sheep.webp" />
</h1>

@if (Model == null)
{
    <h2>
        <img height="50" src="/img/warning.webp" />
        No se encontraron potreros en el sistema
        <img height="50" src="/img/warning.webp" />
    </h2>
    <p>Intentelo nuevamente mas tarde</p>
}
else
{
    @if (@ViewBag.Message != null)
    {
        <h3>
            <img height="30" src="/img/warning.webp" />
            @ViewBag.Message
            <img height="30" src="/img/warning.webp" />
        </h3>

    }
    <form method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <label for="txtIdCaravana" class="form-control">Ingrese los datos de caravana de la unidad ganadera</label>
            <input id="txtIdCaravana" name="idCaravana" type="text" placeholder="ID CARAVANA..." value="@ViewBag.NumeroCaravana">
            <br />
        </div>
        <div class="form-group">
            <label for="slcPotrero" class="form-control">Seleccione uno de los potreros disponibles</label>
            <select id="slcPotrero" name="idPotrero" class="form-select-lgs">
                <option value="-1">Seleccione una opcion...</option>

                @foreach (Potrero p in Model)
                {
                    <option value="@p.Id">@p.Descripcion</option>
                }
            </select>
            <br />
        </div>
        <button type="submit" class="btn btn-primary"> Asignar Potrero </button>
    </form>
}