@using Dominio
@model List<Animal>

<h1>Listado Completo de Animales</h1>

<table class="table">
    <thead>
        <tr>
            <td>ID CARAVANA</td>
            <td>RAZA</td>
            <td>SEXO</td>
            <td>FECHA NACIMIENTO</td>
            <td>PESO ACTUAL</td>
        </tr>
    </thead>
    <tbody>
        @foreach(Animal a in Model)
        {
            <tr>
                <td>@a.Id</td>
                <td>@a.Raza</td>
                <td>@a.Sexo</td>
                <td>@a.FechaNacimiento.ToString("d")</td>
                <td>@a.PesoActual</td>
            </tr>
        }
    </tbody>
</table>